@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fraunces", serif;
  --dark-cyan: hsl(158, 36%, 37%);
  --very-dark-cyan: hsl(157, 43%, 18%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

/* General Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--cream);
  font-family: var(--font-primary);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.3rem;
}

img {
  display: block;
}

/* Card */

.card {
  width: 91.46667%;
  margin: 2.8rem auto;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.perfume-img {
  width: 100%;
}

.text-section {
  padding: 2.4rem;
}

.primary-heading {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 5px;
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
}

.secondary-heading {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 3.2rem;
  color: var(--very-dark-blue);
  margin-top: 1.2rem;
}

.paragraph {
  color: var(--dark-grayish-blue);
  margin-top: 1.6rem;
}

.price {
  margin-top: 2.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.sale-price {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 3.2rem;
  color: var(--dark-cyan);
}

.original-price {
  font-size: 1.3rem;
  text-decoration-line: line-through;
  color: var(--dark-grayish-blue);
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.161rem;
  width: 100%;
  background: var(--dark-cyan);
  border: none;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--white);
  padding: 1.5rem 1.6rem 1.6rem;
  margin-top: 2rem;
}

.cart-icon {
  width: 15px;
}

/* Footer */

.attribution {
  color: var(--dark-grayish-blue);
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: var(--dark-cyan);
  text-decoration: none;
}
/* Media Queries */
@media screen and (min-width: 640px) {
  /* Card */

  .card {
    width: 600px;
    margin: 17.5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .text-section {
    padding: 3.2rem;
  }

  .secondary-heading {
    margin-top: 2rem;
  }

  .paragraph {
    margin-top: 2.4rem;
  }

  .price {
    margin-top: 2.9rem;
    gap: 2.4rem;
  }

  .cart-btn {
    margin-top: 3rem;
    transition: all 0.5s ease-in-out;
  }

  .cart-btn:hover {
    cursor: pointer;
    background: var(--very-dark-cyan);
  }
}
